// ==============================
// Override Variables
// 覆盖变量
$global-background-color: #a3d8b0;


$global-border-color: #f2e784;
$global-border-color-dark: #006e90;

// ==============================
